@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&family=Noto+Sans:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;600&display=swap');

/* Propriétés CSS de base */
:root {
    --bg-black-900: #152149;
    --bg-white-100: #F3F3F3;
    --bg-or-100: #f3b63c;
    --text-black-100: #000000;
    --text-black-900: #D3D3D3;
    --text-black-700: #152149;
    --text-white-100: #fff;
    --text-or-100: #f3b63c;
}

html,
body {
    line-height: 1.5;
    scroll-behavior: smooth;
    font-display: swap;
    overflow-x: hidden;
    background-color: var(--bg-white-100);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Ubuntu', 'Arial';
}

h2 {
    font-family: 'Ubuntu', 'Arial';
}

h3 {
    font-family: 'Ubuntu', 'Arial';
}

h4 {
    font-family: 'Ubuntu', 'Arial';
}

h5 {
    font-family: 'Ubuntu', 'Arial';
}

p {
    font-family: 'Inter', 'Arial';
}


/* Header */
.infos-header-container {
    background-color: var(--bg-black-900);
}

.infos-header-container.scrolled {
    display: none;
}

.infos-header-title,
.infos-header-social {
    margin: 10px 5%;
}

.infos-header-container p {
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
    font-size: 14px;
}

.infos-header-title i {
    margin-right: 5px;
}

.infos-header-social a {
    padding: 10px 12px;
    margin-right: 3%;
    color: var(--text-white-100);
}

.infos-header-social a:hover {
    color: var(--text-black-100);
    background-color: var(--bg-white-100);
    transition: all 0.5s ease-in-out;
}

.infos-header-social a.instagram,
.infos-header-social a.linkedin {
    padding: 10px 10px;
    margin-right: 3%;
}

.nav {
    padding: 20px 0px;
    background-color: var(--bg-white-100);
}

.nav-bar {
    color: var(--bg-black-900);
    margin-right: 10%;
}

.nav-mobile {
    padding: 20px 40px;
}

.infos-header-container.scrolled .nav-mobile {
    display: none;
}

.nav .logo {
    margin-left: 5%;
}

.nav-list li,
.nav-mobile li {
    font-family: 'Inter', 'Arial';
    font-size: 17px;
    color: var(--text-black-700);
}

.nav-list li:hover,
.nav-mobile li:hover {
    color: var(--text-or-100);
    transition: all 0.3s ease-in-out;
}

.header-action {
    background-color: var(--bg-black-900);
    color: var(--text-white-100);
    margin-right: 5%;
}

.header-action:hover {
    color: var(--text-or-100);
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

.header-action a {
    font-family: 'Inter', 'Arial';
    padding: 15px;
    font-size: 15px;
}

.header-action a i {
    padding-left: 10px;
}

.space {
    background-color: var(--bg-white-100);
    padding-top: 140px;
}

/* Banner */
.banner {
    position: relative;
    background-image: linear-gradient(rgba(21, 33, 73, 0.1), rgba(21, 33, 73, 0.7)), url("../assets/images/bg.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
}

.banner .business {
    padding: 20px;
    background-color: rgba(21, 33, 73, 0.7);
    color: var(--text-white-100);
    font-family: 'Ubuntu', 'Arial';
}

.banner h1 {
    font-family: 'Inter', 'Arial';
    color: var(--text-white-100);
    margin: 20px auto;
}

.banner .description {
    color: var(--text-white-100);
}

.banner-contact {
    background-color: var(--bg-black-900);
    color: var(--text-white-100);
    margin-top: 2%;
    transition: all 0.5s ease-in-out;
}

.banner-contact:hover {
    transform: scale(1.05);
    color: var(--text-or-100);
}

.banner-contact a {
    font-family: 'Ubuntu', 'Arial';
    padding: 20px;
}

.banner-contact a i {
    padding-left: 10px;
}

/* About */
.about {
    margin-top: 3%;
    background-color: var(--bg-white-100);
}

.about-img {
    margin-left: 5%;
}

.about-container {
    margin: 0% 5% 2% 5%;
}

.about-container h4 {
    padding: 20px;
    background-color: rgba(21, 33, 73, 0.7);
    color: var(--text-white-100);
}

.about-container h2 {
    margin: 3% 0px;
    color: var(--text-black-700);
    font-family: 'Noto sans', 'Arial';
}

.about-container p {
    font-family: 'Inter', 'Arial';
    font-size: 15px;
}

.about-vision,
.about-mission {
    margin: 3% 3%;
}

.about-vision i,
.about-mission i {
    margin-right: 3%;
    color: var(--text-black-700);
}

.about-vision h3,
.about-mission h3 {
    color: var(--text-black-700);
    font-family: 'Noto sans', 'Arial';

}

.about-vision p,
.about-mission p {
    margin-top: 5px;
    font-size: 15px;
}

/* Service */
.service-part {
    background-color: rgba(21, 33, 73, 0.7);
    padding-bottom: 2%;
}

.service-description {
    padding-top: 2%;
}

.service-description h4,
.choose-container h4,
.team-container h4,
.news-header h4,
.faq-part h4 {
    padding: 20px;
    background-color: rgba(21, 33, 73, 0.7);
    color: var(--text-white-100);
    font-size: 18px;
}

.service-description h2 {
    color: var(--text-white-100);
    margin: 20px 0px;
    font-size: 32px;
    font-family: 'Noto sans', 'Arial';
}

.service-description p {
    color: var(--text-white-100);
    font-size: 16px;
}

.services-list {
    margin: 2% 5%;
}

.service {
    background-color: var(--bg-white-100);
    padding: 10px;
}

.service:hover {
    background-color: var(--bg-black-900);
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

.service i {
    padding: 10px;
    color: var(--bg-black-900);
}

.service:hover i {
    color: var(--bg-white-100);
}

.service h4 {
    padding: 10px 0px;
    font-size: 24px;
    color: var(--text-black-700);
    font-family: 'Noto sans', 'Arial';
}

.service:hover h4 {
    color: var(--text-white-100);
}

.service p {
    padding: 0px 10px;
    font-size: 13px;
    font-family: 'Inter', 'Arial';
}

.service:hover p {
    color: var(--text-white-100);
}

.service .service-button {
    font-family: 'Inter', 'Arial';
    font-size: 17px;
    padding: 15px;
    color: var(--text-black-700);
}

.service:hover .service-button {
    color: var(--text-white-100);
}

.allservice-button {
    background-color: var(--bg-black-900);
    padding: 15px;
    color: var(--text-white-100);
    font-family: 'Ubuntu', 'Arial';
    font-size: 16px;
    margin: 2% 0px;
    transition: all 0.5s ease-in-out;
}

.allservice-button:hover {
    transform: scale(1.05);
    color: var(--text-or-100);
}

.allservice-button i {
    padding: 5px;
}

/* Choose */
.choose-part {
    background-color: var(--bg-white-100);
}

.choose-part img {
    margin-left: 5%;
}

.choose-container {
    margin: 5% 5% 0% 5%;
}

.choose-container h2 {
    color: var(--text-black-700);
    margin: 3% 0%;
    font-family: 'Noto sans', 'Arial';
}

.reason-label h1 {
    font-size: 45px;
    color: var(--text-black-700);
    opacity: 0.5;
    font-family: 'Inter', 'Arial';
}

.reason-label h5 {
    color: var(--text-black-700);
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Inter', 'Arial';
}

/* Stats */
.stats {
    background-color: var(--bg-black-900);
    margin-top: 2%;
    padding: 5% 5%;
}

.stats h1 {
    color: var(--text-white-100);

    font-family: 'Inter', 'Arial';
}

.stats p {
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
}

/* Team */
.team {
    background-color: var(--bg-white-100);
    margin: 3% 5%;
}

.team-container {
    margin-left: 5%;
}

.team-container h2 {
    margin: 3% 0px;
    color: var(--text-black-700);
    font-family: 'Noto sans', 'Arial';
}

.team-button {
    background-color: var(--bg-black-900);
    padding: 12px;
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
    font-size: 16px;
    margin: 8% 0px;
}

.team-button:hover {
    color: #f3b63c;
    transition: all 0.5s ease-in-out;
}

.team-button i {
    padding: 5px;
}

.team-image {
    margin-left: 10%;
}

.team-info {
    background-color: var(--bg-black-900);
    padding: 10px;
    margin: 310px 25px;
}

.team-info h4 {
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
    font-size: 16px;
}

.team-info h5 {
    color: var(--text-white-100);
    font-size: 14px;
    font-family: 'Noto sans', 'Arial';
}

.team-social {
    margin: 5% 0px;
}

.team-social li a {
    padding: 8px 10px;
}

.team-social li a:hover {
    background-color: var(--bg-white-100);
    transition: all 0.5s ease-in-out;
}

.team-social li a.facebook {
    padding: 7px 12px;
}

.team-social li a i {
    color: var(--text-white-100)
}

.team-social li a:hover i {
    color: var(--text-black-700);
    transition: all 0.5s ease-in-out;
}

/* Plus */
.plus-part {
    background-image: url('../assets/images/efficency.webp');
    padding: 7% 0px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 7%;
}

.plus-part h1 {
    color: var(--text-white-100);
    margin: 2%;
}

.plus-part p {
    color: var(--text-white-100);
    margin: 0% 5%;
}

.plus-button {
    background-color: var(--bg-black-900);
    padding: 15px;
    margin-top: 5%;
    color: var(--text-white-100);
    font-family: 'Noto sans', 'Arial';
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.plus-button:hover {
    color: var(--text-or-100);
    transform: scale(1.05);
}

/* News */
.news-part {
    margin: 3%;
}

.news-container {
    margin: 0% 1%;
}

.news h4 {
    background-color: var(--bg-black-900);
    margin: 15px 20px;
    padding: 10px;
    color: var(--text-white-100);
    font-size: 14px;
    font-family: 'Inter', 'Arial';
}

.news h5 {
    margin: 160px 20px;
    color: var(--text-white-100);
    font-size: 14px;
    font-family: 'Inter', 'Arial';
}

.news p {
    margin: 5% 0px;
    font-size: 14px;
    font-family: 'Inter', 'Arial';
}

.news .button-news {
    color: var(--text-black-700);
}

.news-header {
    margin: 0% 2% 0% 5%;
}

.news-header h2 {
    color: var(--text-black-700);
    margin: 4% 0%;
    font-family: 'Noto sans', 'Arial';
}

.news-button {
    margin-top: 160px;
    background-color: var(--bg-black-900);
    color: var(--text-white-100);
    padding: 15px;
}

.news-button:hover {
    color: var(--text-or-100);
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

/* Fas's */
.faq-part {
    background-color: rgba(21, 33, 73, 0.7);
    padding: 3% 8%;
}

.faq-part h2 {
    color: var(--text-white-100);
    margin: 2% 0%;
    font-family: 'Noto sans', 'Arial';
}

.faq-part p {
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
    font-size: 15px;
    margin: 2% 0%;
}

.faq-header {
    background-color: var(--bg-black-900);
    padding: 10px;
    margin: 2% 0px;
    color: var(--text-white-100);
}

.faq-header h5 {
    font-size: 15px;
    margin-left: 2%;
    font-family: 'Inter', 'Arial';
}

.faq-header i {
    margin-right: 5%;
    color: var(--text-white-100);
}

.faq p {
    font-size: 14px;
    padding: 0px 10px;
    font-family: 'Inter', 'Arial';
}

.faq-image {
    margin-left: 8%;
}

/* NewsLetter */
.newsletter {
    background-color: var(--bg-white-100);
}

.newsletter img {
    margin-top: 2%;
}

.newsletter p {
    font-family: 'Inter', 'Arial';
    color: var(--text-black-100);
    margin: 20px 0%;
}

.newsletter-input {
    margin-top: 15px;
    margin-bottom: 25px;
}

.newsletter input {
    border-color: var(--bg-black-900);
    font-family: 'Inter', 'Arial';
    font-size: 14px;
    padding: 16px 20px;
}

.newsletter button {
    background-color: var(--bg-black-900);
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
}

/* Footer */
.footer {
    background-color: var(--bg-black-900);
    padding: 2% 0%;
}

.footer h3 {
    color: var(--text-white-100);
    margin: 2% 0%;
    font-size: 25px;
    font-family: 'Inter', 'Arial';
}

.footer h5 {
    color: var(--text-white-100);
    margin: 0px 0%;
    font-size: 16px;
    font-family: 'Inter', 'Arial';
}

.footer .links {
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
    font-size: 14px;
}

.footer .links:hover {
    color: var(--text-or-100);
    transition: all 0.5s ease-in-out;
}

.contact-footer p {
    padding: 5px 0px;
    font-size: 14px;
    font-family: 'Inter', 'Arial';
    color: var(--text-white-100);
}

.contact-footer i {
    color: var(--text-white-100);
    margin-right: 5%;
}

.copyright {
    margin: 0px 10%;
    margin-top: 15px;
    padding-top: 20px;
}

.copyright p {
    color: var(--text-white-100);
    font-family: 'Inter', 'Arial';
    font-size: 14px;
}

.footer-social i {
    padding: 8px 10px;
    color: var(--text-white-100);
}

.footer-social a:hover {
    background-color: var(--bg-white-100);
    transition: all 0.5s ease-in-out;
}

.footer-social a:hover i {
    color: var(--text-black-700);
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width : 1200px) {
    .banner {
        padding-top: 7%;
    }

    .plus-part {
        background-attachment: scroll;
    }

    .news-container {
        margin: 0px 0%;
    }

    .news-header {
        margin: 0px 25px;
    }

}

@media (max-width : 950px) {
    .banner {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .banner-contact {
        margin-top: 5%;
    }

    .news-header .news-button {
        margin: 5% 0% 3% 0%;
    }

    .news-container {
        margin: 15px 0px 0px 20px;
    }

    .news-button {
        margin: 25px 0px 10px 20px;
    }

    .services-list {
        margin: 2% 5% 0% 5%;
    }

    .service {
        margin: 0;
    }

    .team-info {
        margin: 250px 0px;
        padding: 10px;
    }

    .newsletter img {
        margin-top: 5%;
    }
}

@media (max-width : 600px) {

    .space {
        padding-top: 50px;
    }

    .banner {
        margin-top: 30%;
    }

    .service-description h4 {
        margin-top: 3%;
    }

    .service-description p {
        padding: 0px 10px;
    }

    .services-list {
        margin: 5% 5% 0% 5%;
    }

    .allservice-button {
        margin: 5% 0px;
    }

    .team {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .team-container {
        margin-top: 0%;
    }

    .team-info {
        margin: 300px 15px;
        padding: 10px;
    }

    .team-image {
        margin-top: 10%;
    }

    .team-button {
        margin: 35% 30% 0% 0%;
        background-color: var(--bg-black-900);
        padding: 12px;
        color: var(--text-white-100);
        font-family: 'Inter', 'Arial';
        font-size: 16px;
    }

    .team-button:hover {
        color: #f3b63c;
        transition: all 0.5s ease-in-out;
    }

    .news-container {
        margin-top: 5%;
    }  

    .news-button {
        margin: 20px 0px 10px 20px;
    }

    .contact-footer {
        margin-left: 10%;
    }

    .copyright p {
        margin-top: 5%;
    }

    .newsletter p {
        margin: 20px 15px;
    }

}